AGENTS.md
shell.nix
.codex
.env
.clangd
.venv/
.cache/
.ipynb_checkpoints/ 

__pycache__/

data/*
checkpoints/* 
analysis/*

!/data/.gitkeep
!/checkpoints/.gitkeep
!/analysis/.gitkeep
!/images/.gitkeep

!/preprocess/data/.gitkeep
/preprocess/data/*
!/preprocess/images/.gitkeep

logs/

compressive_augmentation.egg-info/
